# Ignore Python virtual environments
venv/

# Ignore environment variable files
.env

# Ignore VS Code settings
.vscode/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore logs and temp files
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
